body {
  font-family: 'Inter', sans-serif;
   }


    .dashboard {
      margin-bottom: 40px;
    }

    .dashboard h2 {
      font-size: 1.8rem;
      margin-bottom: 8px;
      color: black;
    }

    .dashboard p {
      color: #555;
    }

    .ultimas_tasks h2 {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

    .lista_de_tasks {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1 rem;
      list-style: none;
      padding: 0;
      column-gap: 0.5rem;
    }

    .task {
       background-color: #fff;
       border: 1px solid #e4e4e7;
        border-radius: 8px;
        padding: 15px 20px;
        margin-bottom: 15px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.03);
    }

    .task_completed {
      background-color: #fff;
      border: 1px solid #e4e4e7;
      border-left: 6px solid rgb(60, 158, 60);
      border-radius: 8px;
      padding: 15px 20px;
      margin-bottom: 15px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.03);
    }

    .task_incomplete {
      background-color: #fff;
      border: 1px solid #e4e4e7;
      border-left: 6px solid red;
      border-radius: 8px;
      padding: 15px 20px;
      margin-bottom: 15px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.03);
    }

     
    .task:hover{
       box-shadow: 0 4px 4px #6f4ef28c;
       transform: translatey(-10%);
       transition: ease-in-out 0.4s;
    }

    .task_completed strong, 
    .task_incomplete strong {
      text-decoration: none;
      font-size: 1.1rem;
      display: block;
      margin-bottom: 5px;
      color: #333;
    }

    .task_completed strong > a, 
    .task_incomplete strong > a {
        text-decoration: none;
        color: inherit;
    }

   .task_completed p, 
    .task_incomplete p {
      margin: 4px 0;
      color: #555;
    }

    .task_completed .data-criacao,
    .task_incomplete .data-criacao {
      font-size: 0.8rem;
      color: #888;
      display: block;
      margin-top: 8px;
    }

    .container_dashboard{
      display: flex;
      flex-direction: row;
      gap: 1rem;
      text-decoration: none;
    }

    .container_dashboard a{
      text-decoration: none;
    }

    .dashboard_tasks{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2.5rem;
      padding: 1rem;
      width: 30%;
      box-shadow: 2px 2px 4px rgb(179, 170, 170);
      border-radius: 10px;
    }

    .dashboard_tasks a{
      text-decoration: none;
    }

    .dashboard_tasks:hover{
      transform: translatey(-20%);
      transition: ease-in-out 0.5s;
      box-shadow: 2px 2px 4px rgba(145, 76, 197, 0.575);
    }

    .dashboard_tasks_2{
      display: flex;
      flex-direction: column;
      text-decoration: none;
    }

    .dashboard_tasks_2 a{
      text-decoration: none;
    }

    .dashboard_tasks_2 h5{
      color: #7d7c7c;
    }

    .top_dashboard{
      display: flex;
      justify-content: space-between;
    }

    .button_add_dashboard{
      background-color: #776CF2;
      display: flex;
      align-items: center;
      color: #fff;
      width: 150px;
      border: none;
      border-radius: 10px;
    }

    .button_add_dashboard:hover{
      box-shadow: 0 0 10px #9c65e5;
    }

    .button_add_dashboard a {
      text-decoration: none;
      font-size: 1rem;
      color: #fff;
      padding: 0.7rem;
    }

   