{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <title>Cadastro - MyTaskHub</title>
</head>
<body>
<header class="header">
    <h2><i class="bi bi-check2-square"></i> MyTaskHub</h2>
    <nav class="navegacao">
        <li>É novo por aqui? 
            <a href="{% url 'register' %}">
                <button class="btn-criar-conta">Criar Conta</button>
            </a>
        </li>
    </nav>
</header>

<main class="main">
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <h1>Seja Bem-Vindo(a)!</h1>

        <!-- Username -->
        <div class="form-group">
            <input type="text" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}" required>
            <label for="username">Login</label>
            <i class="bi bi-envelope-fill"></i>
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <!-- Password1 -->
        <div class="form-group">
            <input type="password" name="password1" id="password1" required>
            <label for="password1">Senha</label>
            <i class="bi bi-lock-fill"></i>
            <span class="input-group-text icon-password"> 
                <i class="bi bi-eye" id="iconSenha1" onclick="toggleSenha1()"></i>
            </span>
            {% if form.password1.errors %}
                {% for error in form.password1.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <!-- Password2 -->
        <div class="form-group">
            <input type="password" name="password2" id="password2" required>
            <label for="password2">Confirme a Senha</label>
            <i class="bi bi-lock-fill"></i>
            <span class="input-group-text icon-password"> 
                <i class="bi bi-eye" id="iconSenha2" onclick="toggleSenha2()"></i>
            </span>
            {% if form.password2.errors %}
                {% for error in form.password2.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="case-btn">
            <button type="submit">Cadastrar</button>
            <input type="hidden" name="next" value="{% url 'index' %}"/>
        </div>
    </form>
</main>

<script src="{% static 'users/js/script.js' %}"></script>
</body>
</html>
