{% extends "mytaskhubs/base.html" %}
{% block content %}
      <h2 class="titulo-pagina">Adicione um nova task a meta {{goal}}:</h2>
    <main class="main_new_task-new_project">
    <form action="{% url 'add_task_to_goal' goal.id %}" class="form-new-task" method="post">
        {% csrf_token %}
        <!-- Campo Título -->
    <div class="mb-3">
      <label for="title" class="form-label">Nova Meta:</label>
      <input type="text" 
             name="title" 
             id="title" 
             class="form-control {% if form.title.errors %}is-invalid{% endif %}" 
             required>
      {% if form.title.errors %}
        <div class="invalid-feedback">
          {% for error in form.title.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <!-- Campo Descrição -->
    <div class="mb-3">
      <label for="description" class="form-label">Descrição da Meta:</label>
      <textarea name="description" 
                id="description" 
                class="form-control {% if form.description.errors %}is-invalid{% endif %}" 
                rows="3" 
                required>{{ form.description.value|default_if_none:'' }}</textarea>
      {% if form.description.errors %}
        <div class="invalid-feedback">
          {% for error in form.description.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="box-button">
    <button type="submit">Salvar</button>
    </div>
    </form>
    </main>
{% endblock %}
