{% extends "mytaskhubs/base.html" %}

{% block content %}
<main class="main-task">
  <div class="goal-card">
    <!-- Cabeçalho do Card -->
    <div class="goal-header">
      <div>
        <h2>{{ goal.title }}</h2>
        <p class="goal-description">{{ goal.description }}</p>
        <p class="goal-deadline">
          <i class="bi bi-calendar"></i> Prazo final: {{ goal.end_date|date:"d/m/Y H:i" }}
        </p>
      </div>

      <!-- Esfera de Progresso -->
      <div class="progress-circle-large" data-progress="{{ goal.progress }}">
        <!--<span id="circleProgress">{{ goal.progress }}%</span>-->
      </div>
    </div>

    <!-- Lista de tarefas -->
      <form id="taskForm">
    {% csrf_token %}
    <ul class="goal-task-list">
      {% for task in goal.tasks.all %}
        <li>
          <label class="custom-checkbox">
            <input type="checkbox" 
                  class="task-checkbox"
                  data-task-id="{{ task.id }}"
                  {% if task.completed %}checked{% endif %}>
            <span class="checkmark"></span>
            {{ task.title }}
          </label>
        </li>
      {% empty %}
        <li>Sem tarefas ainda.</li>
      {% endfor %}
    </ul>
  </form>


    <!-- Barra de progresso horizontal -->
     <p> Progresso: <span id="barProgress">0%</span></p>
    <div class="progress-bar-container">
      <div class="progress-bar" id="taskProgressBar" data-progress="0"></div>
    </div>
    

    <!-- Botão -->
    <div class="goal-actions">
      <a class="btn-goals" href="{% url 'add_task_to_goal' goal.id %}"><i class="bi bi-plus"></i> Adicionar nova task</a>
    </div>
  </div>
</main>
{% endblock %}
