{% extends "mytaskhubs/base.html" %}
{% load static %}

{% block content %}

<section class="dashboard">
    <div class="top_dashboard">
        <div>
            <h2>Dashboard</h2>
            <p>Acompanhe o seu progresso</p>
        </div>
        <button class="btn btn-dashboard">
            <a href="{% url 'new_task_no_project' %}">
                Adicionar Task
            </a>
        </button>
    </div>

    <div class="container_dashboard">

        <a href="{% url 'calendario_tasks' %}" class="dashboard_tasks">
            <div class="dashboard_tasks_2">
                <h5>Calendário</h5>
                <h2>Ver</h2>
            </div>
            <div class="dashboard_tasks_3">
                <i class="bi bi-calendar3" style="color: purple; font-size: 2rem;"></i>
            </div>
        </a>

        <a href="{% url 'tasks_concluidas' %}" class="dashboard_tasks">
            <div class="dashboard_tasks_2">
                <h5>Tasks Concluídas</h5>
                <h2>{{ tasks_concluidas }}</h2>
            </div>
            <div class="dashboard_tasks_3">
                <i class="bi-check-circle-fill" style="color: green; font-size: 2rem;"></i>
            </div>
        </a>

        <a href="{% url 'tasks_pendentes' %}" class="dashboard_tasks">
            <div class="dashboard_tasks_2">
                <h5>Tasks Pendentes</h5>
                <h2>{{ tasks_em_andamento }}</h2>
            </div>
            <div class="dashboard_tasks_3">
                <i class="bi-hourglass" style="color: yellow; font-size: 2rem;"></i>
            </div>
        </a>

        <a href="{% url 'goals' %}" class="dashboard_tasks">
            <div class="dashboard_tasks_2">
                <h5>Metas</h5>
                <h2>{{ metas }}</h2>
            </div>
            <div class="dashboard_tasks_3">
                <i class="bi bi-bullseye" style="color: blue; font-size: 2rem;"></i>
            </div>
        </a>

    </div>
</section>

<section class="ultimas_tasks">
    <h2>Últimas Tasks adicionadas</h2>
    
    <ul class="lista_de_tasks">
        {% for task in tasks %}
            <li class="task {% if task.completed %}task_completed{% else %}task_incomplete{% endif %}">
                <strong><a href="{% url 'task' task.id %}">{{ task.title }}</a></strong>
                {% if task.project %}
                    <p><i class="bi bi-folder2"></i> Projeto: {{ task.project.title }}</p>
                {% elif task.goal %}
                    <p><i class="bi bi-bullseye"></i> Meta: {{ task.goal.title }}</p>
                {% else %}
                    <p><i class="bi bi-person"></i> Independente: {{ task.title }}</p>
                {% endif %}
                <small class="data-criacao">
                    <i class="bi bi-calendar-date"></i> {{ task.date_added|date:"d/m/Y H:i" }}
                </small>
            </li>
        {% empty %}
            <p>Nenhuma task adicionada</p>
        {% endfor %}
    </ul>
</section>

<a href="{% url 'calendario_tasks' %}">ver calendário</a>

{% endblock content %}
